{% extends 'base.html' %}
{% block content %} 
<main>

    <aside class="lateral" id="conteudo_left">
        <h2>NOTICIAS</h2>
        {% for noticia in noticias %}
        <div class="noticia">
            <a href="{{ noticia.link }}"> <img src="{{ url_for('static', filename=noticia.imagem) }}" alt="{{ noticia.titulo }}"> <p>{{ noticia.titulo }}</p>
            </a>
        </div>
        {% endfor %}
    </aside>

    <div class="conteudo_center">
        <div class="titulo">PORTAL BJJ</div>
        <div class="conteudo_item"></div>
        <div class="conteudo_item"></div>
        <div class="conteudo_item"></div>
        <div class="conteudo_item"></div>
        <div class="conteudo_item"></div>
    </div>

    <aside class="lateral" id="conteudo_rigth">
        <h2>PATROCINADORES</h2>
        {% for parceiro in parceiros %}
        <div class="parceiro">
            <a href="{{ parceiro.link }}" target="_blank" rel="noopener noreferrer"> {% if parceiro.logo %}
                    <img src="{{ url_for('static', filename=parceiro.logo) }}" alt="Logo {{ parceiro.nome }}">
                {% endif %}
                <p>{{ parceiro.nome }}</p>
            </a>
        </div>
        {% endfor %}
    </aside>

</main>
{% endblock %}