{% extends 'layout.html' %}

{% block css_especifico %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cursos.css') }}">
{% endblock %}

{% block body_class %}class="pagina-cursos"{% endblock %} <!-- Class do body -->

{% block content %} 

    <div class="conteudo_center">

        <div class="titulo">
            <h1>REFINE SEU JIU-JITSU DA MANEIRA CERTA</h1>
        </div>
        
        <div class="conteudo_cursos">
            <div class="img_curso">
                <img src="{{ url_for('static', filename='Midia/Cursos/Jiu-Jitsu.png') }}" alt="professor Gargamel">
            </div>
            <div class="descricao_curso">
                <h2>JIU-JITSU</h2>
                <h3>Introdução ao esporte</h3>
                <div class="stars">
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                </div>
                <p>
                    Conheca todo um novo mundo de entretenimento, técnicas, disciplina e superação<br>
                    Nesta introdução, você será apresentado à história e aos fundamentos do esporte. Vamos abordar:
                </p>
                    <ul>
                        <li><strong>Origem da luta:</strong> Entenda como o Jiu-Jitsu surgiu e evoluiu ao longo do tempo.</li>
                        <li><strong>Transformação em esporte:</strong> Conheça como a arte marcial ganhou reconhecimento e se tornou um esporte mundialmente praticado.</li>
                        <li><strong>Mecânicas básicas:</strong> Aprenda os princípios que guiam os movimentos e as estratégias do Jiu-Jitsu.</li>
                        <li><strong>Perspectivas futuras:</strong> Saiba como o esporte continua crescendo e o que esperar para o futuro da modalidade.</li>
                    </ul>
                <p>
                    Este será nosso ponto de partida para o Jiu-Jitsu!
                </p>
            </div>
        </div>
        <div class="conteudo_cursos">
            <div class="img_curso">
                <img src="{{ url_for('static', filename='Midia/Cursos/jiu-jitsu-br.png') }}" alt="professor Gargamel">
            </div>
            <div class="descricao_curso">
                <h2>BRAZILIAN JIU-JITSU</h2>
                <h3>Nosso estilo e nossos icones</h3>
                <div class="stars">
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                </div>
                <p>
                    Neste módulo, você conhecerá as principais características do Brazilian Jiu-Jitsu (BJJ), suas diferenças em relação a outras vertentes e os nomes que marcaram a história do esporte. <br><br>
                    Serão abordados os seguintes tópicos:
                </p>
                    <ul>
                        <li><strong>Origens do BJJ:</strong> Como o Jiu-Jitsu foi adaptado no Brasil e se transformou em um estilo próprio.</li>
                        <li><strong>Filosofia e estratégia:</strong> A importância da técnica, alavancagem e controle sobre a força bruta.</li>
                        <li><strong>Ícones do esporte:</strong> Um panorama dos principais atletas, mestres e famílias que contribuíram para a difusão do BJJ, como a família Gracie.</li>
                        <li><strong>Estilo brasileiro:</strong> Diferenças entre o BJJ e outras modalidades de Jiu-Jitsu, incluindo o foco em combate no chão e competições esportivas.</li>
                    </ul>
                <p>
                    Ao final deste nível, você terá uma compreensão sólida sobre o estilo brasileiro e seu impacto mundial.
                </p>
            </div>
        </div>

        <div class="conteudo_cursos">
            <div class="img_curso">
                <img src="{{ url_for('static', filename='Midia/Cursos/Gargamel_2.jpg') }}" alt="professor Gargamel">
            </div>
            <div class="descricao_curso">
                <h2>INTRODUÇÃO AO BJJ</h2>
                <h3>Aprenda os conceitos iniciais</h3>
                <div class="stars">
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                </div>
                <p>
                    Aqui vamos começar a explorar os conceitos posicionais do Jiu-Jitsu. Abordaremos sobre a base que sustenta todas as técnicas e as posiçõs iniciais. <br><br>
                    Vamos cobrir os seguintes tópicos:
                </p>
                    <ul>
                        <li><strong>Bons modos:</strong> Como se portar no tatame e na academia.</li>
                        <li><strong>Postura e base:</strong> Entenda a importância da posição correta, tanto em pé quanto no chão, para garantir equilíbrio e controle.</li>
                        <li><strong>Controle de quadril:</strong> A mecânica do quadril é fundamental no BJJ. Aprenda como usá-lo para dominar e escapar de posições.</li>
                        <li><strong>Grips e pegadas:</strong> Conheça as diferentes formas de segurar o kimono ou o próprio oponente e como isso impacta na execução das técnicas.</li>
                        <li><strong>Movimentos fundamentais:</strong> Introdução aos movimentos-chave: guardas, passagens, raspagens e finalizações.</li>
                    </ul>
                <p>
                    Este nível serve como uma introdução prática, onde você aplicará esses conceitos no treino, começando a desenvolver a base necessária para avançar no BJJ.
                </p>
            </div>
        </div>
        
        <div class="conteudo_cursos">
            <div class="img_curso">
                <img src="{{ url_for('static', filename='Midia/Cursos/Gargamel_3.jpg') }}" alt="professor Gargamel">
            </div>
            <div class="descricao_curso">
                <h2>FUNDAMENTOS</h2>
                <h3>Ajuste sua tecnica, corrija seus erros</h3>
                <div class="stars">
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                </div>
                <p>
                    Este módulo é ideal para iniciantes e praticantes de graduação mais baixa, com foco no aprimoramento das habilidades fundamentais. Vamos ajudar você a usar a técnica desejada e corrigir erros comuns que surgem no início da jornada. <br><br>
                    Os tópicos abordados incluem:
                </p>
                    <ul>
                        <li><strong>Posições básicas:</strong> Revisão das posições principais que seu professor ensinou, com ênfase no refinamento das execuções.</li>
                        <li><strong>Compreensão do tatame:</strong> Entenda os conceitos por trás de cada movimento e como eles se aplicam nas situações de treino e combate.</li>
                        <li><strong>Regras de arbitragem:</strong> Estudo das regras de competição, com dicas sobre como identificar qual conjunto de regras se aplica a diferentes campeonatos.</li>
                    </ul>
                <p>
                    O objetivo deste nível é garantir que você tenha uma base sólida, entendendo não só as técnicas, mas também o contexto e as regras do esporte.
                </p>
            </div>
        </div>
        
        <div class="conteudo_cursos">
            <div class="img_curso">
                <img src="{{ url_for('static', filename='Midia/Cursos/Gargamel_1.jpg') }}" alt="professor Gargamel">
            </div>
            <div class="descricao_curso">
                <h2>REFINAMENTO</h2>
                <h3>Aperfeiçoe seu jogo por completo</h3>
                <div class="stars">
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                    <div class="star star_off"><img src="{{ url_for('static', filename='Midia/Cursos/star_off.png') }}" alt="star off"></div>
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                </div>
                <p>
                    Neste módulo, o objetivo é elevar seu nível de Jiu-Jitsu, aprimorando cada detalhe e levando sua técnica a um patamar mais avançado. Aqui, você vai refinar as posições clássicas e melhorar sua performance em combate. <br><br>
                    Os temas abordados incluem:
                </p>
                    <ul>
                        <li><strong>Refinamento das posições clássicas:</strong> Aperfeiçoe as posições que você já conhece, corrigindo detalhes que fazem a diferença em situações de combate real.</li>
                        <li><strong>Visão e estratégias de mestres:</strong> Aprenda com a experiência de diferentes professores, analisando e adaptando suas abordagens para encontrar seu próprio estilo no tatame.</li>
                        <li><strong>Correções e observações:</strong> Dicas e ajustes para tornar seu Jiu-Jitsu mais fluido, evitando movimentos desnecessários e aumentando a eficiência.</li>
                        <li><strong>Feedback realista:</strong> Comentários de alunos e mestres, com base em experiências reais de combate, longe das ilusões e mitos promovidos pela mídia.</li>
                    </ul>
                <p>
                    O foco desse nível é fazer com que seu jogo seja mais preciso, mais eficiente e mais adaptável a diferentes situações e oponentes.
                </p>
            </div>
        </div>
        
        <div class="conteudo_cursos">
            <div class="img_curso">
                <img src="{{ url_for('static', filename='Midia/Cursos/Gargamel_4.jpg') }}" alt="professor Gargamel">
            </div>
            <div class="descricao_curso">
                <h2>ARTE SUAVE</h2>
                <h3>Dominando os Fundamentos Avançados</h3>
                <div class="stars">
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                    <div class="star star_on"><img src="{{ url_for('static', filename='Midia/Cursos/star_on.png') }}" alt="star off"></div>
                </div>
                <p>
                    No último nível, você irá mergulhar nas técnicas mais avançadas do Jiu-Jitsu, aprimorando seu estilo pessoal e sua aplicação prática em combate. Este módulo é voltado para a perfeição do jogo e o desenvolvimento de uma mentalidade estratégica e instintiva. <br><br>
                    Os principais tópicos incluem:
                </p>
                    <ul>
                        <li><strong>Fundamentos avançados:</strong> Aprendizado das posições e técnicas mais complexas, com foco em alta performance e domínio completo do Jiu-Jitsu.</li>
                        <li><strong>Posições e técnicas de alto nível:</strong> Estudo e prática das transições e finalizações mais avançadas, além da capacidade de reagir a diferentes situações de combate.</li>
                        <li><strong>Instinto estratégico:</strong> Aprenda a aplicar seu instinto da forma mais eficiente, escolhendo a técnica certa no momento certo para garantir o controle e a finalização.</li>
                        <li><strong>Criação de técnicas pessoais:</strong> Desenvolvimento e personalização de técnicas que se ajustam ao seu estilo de luta, com foco em adaptabilidade contra diferentes oponentes.</li>
                        <li><strong>Defesa pessoal:</strong> Aplicação do Jiu-Jitsu fora do tatame, com técnicas de defesa pessoal baseadas em treinamentos específicos, como aqueles dados às Forças Terrestres dos Emirados Árabes Unidos.</li>
                    </ul>
                <p>
                    Esse nível prepara você para ser um praticante completo, capaz de adaptar suas habilidades a qualquer situação e de ter confiança no Jiu-Jitsu, tanto no esporte quanto no dia a dia.
                </p>
            </div>
        </div>
        
    </div>

{% endblock %}

{% block js_especifico %}
<script src="#"></script>
{% endblock %}