<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site dedicado aos ensinamentos de jiu-jitsu do professor Gargamel">
    <meta name="author" content="Drayetuoh"> <!-- Autor do codigo -->
    <meta name="keywords" content="jiu-jitsu, jiu jitsu, Gargamel"> <!-- Palavras chaves para o google -->
    <title>Garga-BJJ</title>
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" > <!-- "obi" é o nome que se dá as faixas de jiu-jitsu -->
    <script src="{{ url_for('static', filename='js/script_home.js') }}"></script>

</head>

<body>
<header id="menu-navegacao">
    <div class="controle">
        <img src="{{ url_for('static', filename='Midia/Logo_gargabjj_arred.png') }}" alt="logo garga bjj">
    </div>
        <nav class="main-nav">
            <ul>
                <li><a href="#">HOME</a></li>
                <li class="locais-submenu"><a href="#"  aria-haspopup="menu" aria-expanded="false">LOCAIS</a>
                    <ul class="submenu">
                        <li><a href="#">Matriz(centro)</a></li>
                        <li><a href="#">Site 02(USA)</a></li>
                    </ul>
                </li>
                <li class="eventos-submenu"><a href="#">EVENTOS</a>
                    <ul class="submenu">
                        <li><a href="#">Seminario x</a></li>
                        <li><a href="#">Campeonato y</a></li>
                        <li><a href="#">Aulão Z</a></li>
                    </ul>
                </li>
                <li class="sobre-submenu"> <a href="#" aria-haspopup="menu" aria-expanded="false">SOBRE</a>
                    <ul class="submenu">
                        <li><a href="#">O Mestre</a></li>
                        <li><a href="#">O Site</a></li>
                        <li><a href="#">A Academia</a></li>
                        <li><a href="#">Ideais e Comprometimento</a></li>
                        <li><a href="#">Referências</a></li>
                    </ul>
                </li>
                <li class="parceiros-submenu"><a href="#" aria-haspopup="menu" aria-expanded="false">PARCEIROS</a>
                    <ul class="submenu">
                        <li><a href="#">Lima</a></li>
                        <li><a href="#">Gladson</a></li>
                        <li><a href="#">VS bjj</a></li>
                    </ul>
                </li>
                <li class="forum-submenu"><a href="#" aria-haspopup="menu" aria-expanded="false">FÓRUM</a>
                    <ul class="submenu">
                        <li><a href="#">Noticias</a></li>
                        <li><a href="#">Debates</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                </li>
                <li class="navegacao-submenu"><a href="#" aria-haspopup="menu" aria-expanded="false">NAVEGAÇÃO</a>
                    <ul class="submenu">
                        <li><a href="#">Link 01</a></li>
                        <li><a href="#">Link 02</a></li>
                        <li><a href="#">Link 03</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    <div class="controle">
        <div class="menu-user" id="menu-user">
        <span class="bar bar-1"></span>
        <span class="bar bar-2"></span>
        <span class="bar bar-3"></span>
        </div>
    </div>
    <aside class="sidebar-menu" id="sidebar-menu">
        <div class="user-info">
            <img src="{{ url_for('static', filename='Midia/perfil.jpg') }}" alt="Foto de perfil do usuário">
            <h4 class="user-name">{{context.usuario}}</h4>
            <p class="user-rank">Graduação: {{context.faixa}}</p>
            <p class="user-academy">Academia: {{context.academia}}</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">PERFIL</a></li>
                <li><a href="#">CONFIGURAÇÕES</a></li>
                <li><a href="#">MIDIA</a></li>
                <li><a href="#">LGPD</a></li>
                <li><a href="#">MODO PERSONALIZADO</a></li>
                <li><a href="#">SAIR</a></li>
            </ul>
        </nav>
    </aside>
</header>

<main>

    <aside class="lateral" id="conteudo_left">
        <h2>NOTICIAS</h2>
        {% for noticia in noticias %}
        <div class="noticia">
            <a href="{{ noticia.link }}"> <img src="{{ url_for('static', filename=noticia.imagem) }}" alt="{{ noticia.titulo }}"> <p>{{ noticia.titulo }}</p>
            </a>
        </div>
        {% endfor %}
    </aside>

    <div class="conteudo_center">
        <div class="titulo">PORTAL BJJ</div>
        <div class="conteudo_item"></div>
        <div class="conteudo_item"></div>
        <div class="conteudo_item"></div>
        <div class="conteudo_item"></div>
        <div class="conteudo_item"></div>
    </div>

    <aside class="lateral" id="conteudo_rigth">
        <h2>PATROCINADORES</h2>
        {% for parceiro in parceiros %}
        <div class="parceiro">
            <a href="{{ parceiro.link }}" target="_blank" rel="noopener noreferrer"> {% if parceiro.logo %}
                    <img src="{{ url_for('static', filename=parceiro.logo) }}" alt="Logo {{ parceiro.nome }}">
                {% endif %}
                <p>{{ parceiro.nome }}</p>
            </a>
        </div>
        {% endfor %}
    </aside>

</main>

<footer>
        <nav class="footer-nav">
            <p>Outros</p>
            <ul>
                <li><a href="#">Página Inicial</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Sobre</a></li>
            </ul>
        </nav>

        <div class="footer-social">
            <p>Siga-nos</p>
            <div class="social-icons">
                <a href="#" target="_blank" aria-label="Facebook"><img src="{{ url_for('static', filename='Midia/Icons/facebook.svg') }}" alt="Facebook"></a>
                <a href="#" target="_blank" aria-label="Instagram"><img src="{{ url_for('static', filename='Midia/Icons/instagram.svg') }}" alt="Instagram"></a>
                <a href="#" target="_blank" aria-label="YouTube"><img src="{{ url_for('static', filename='Midia/Icons/youtube.svg') }}" alt="YouTube"></a>
                <a href="#" target="_blank" aria-label="YouTube"><img src="{{ url_for('static', filename='Midia/Icons/x-twitter.svg') }}" alt="twitter"></a>
            </div>
        </div>

        <div class="footer-info">
            <p>Copywriter</p>
            <p>&copy; <span id="current-year"></span> Garga BJJ. Todos os direitos reservados.</p>
            <p>Endereço: Rua Exemplo, 123 - Centro, MOC - MG</p>
        </div>
</footer>
</body>
</html>