{% extends 'layout.html' %}

{% block css_especifico %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/parceiros.css') }}">
{% endblock %}

{% block body_class %}class="pagina-parceiros"{% endblock %} <!-- Class do body -->

{% block content %} 

    <div class="conteudo_center">

        <div class="titulo"><h1>PARCERIAS</h1></div>
        
            {% for parceiro in parceiros %}
            <div class="conteudo_item_parceiro">
                <div class="texto">
                    <h2>{{ parceiro.nome }}</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae perferendis, iure fugiat a, laboriosam, vitae nesciunt quibusdam rerum quis officiis vel eos placeat consectetur sint at quia. Ducimus, in quia?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium aspernatur perferendis explicabo, magnam iusto temporibus impedit? Corrupti blanditiis commodi beatae mollitia architecto exercitationem enim, aliquid recusandae sed quisquam cupiditate ducimus!
                    </p>
                </div>
                <a href="{{ parceiro.link }}" target="_blank" rel="noopener noreferrer"> {% if parceiro.logo %}
                        <img src="{{ url_for('static', filename=parceiro.logo) }}" alt="Logo {{ parceiro.nome }}">
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        
    </div>

{% endblock %}

{% block js_especifico %}
<script src="#"></script>
{% endblock %}